.ipynb_checkpoints/
.venv/
.idea/
.DS_Store
.RData
.Rhistory
MOFA2/Input/*
MOFA2/Trained_models/*
MOFA2/MOFA_*
MOFA2/Jupyter_outputs/*
OmiEmbed/checkpoints/*
OmiEmbed/data/?.tsv
**/__pycache__/
OmiEmbed/explanation/*_*/*.tsv
OmiEmbed/grid_search_hyperparameters/*.*
**/.ipynb_checkpoints/
**/.venv
data_download/UCSC_TCGA_Data/
data_download/UCSC_TCGA_Data_Clean/
